*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    text-align: center;
    background-color: grey;
}
h1
{
    text-decoration: underline;
}
button{
    margin: 2rem 1rem;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
}